node_modules/
coverage/
build/
dist/
tmp/
logs/
.cache/
public/
docs/
.scripts/

*.log
*.lock
*.swp
*.DS_Store
.env
.env.local
.env.*.local
.env.test
.env.test.local
.vscode/
.idea/
*.iml
*.md
.npmrc
.npmignore
yarn.lock
yarn-error.log