.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  width: 100%;
  padding: 0 2rem;
  @media screen and (min-width: 1000px) {
    margin-top: 10%;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    max-width: 50%;
    @media screen and (min-width: 1000px) {
      margin-left: 7%;
    }
    .details {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 2rem;
      @media screen and (min-width: 1000px) {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
      .img {
        width: 100%;
        @media screen and (min-width: 1000px) {
          width: 35%;
        }
      }
    }
  }
}
