.btn {
  cursor: pointer;
  width: 80%;
  height: 7rem;
  border-radius: 8px;
  border: none;
  background-color: var(--select-btn);
  font-size: 1.4rem;
  font-family: 'Montserrat-medium', sans-serif;
  &:disabled {
    cursor: auto;
  }
  @media screen and (min-width: 600px) {
    width: 30%;
    font-size: 1.6rem;
    height: 10rem;
  }
  @media screen and (min-width: 1000px) {
    width: 20%;
  }
}
