.container {
  width: 100%;
  .product {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-bottom: 1px solid var(--shop-background-rgba);
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
}
