.bottom {
  position: absolute;
  width: 90%;
  height: 17.5%;
  bottom: 0;
  right: 0;
  background-image: url('../assets/images/main-bottom.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 60%;
  background-image: url('../assets/images/main-right.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  @media screen and (max-width: 600px) {
    width: 40px;
    height: 65%;
  }
}
