.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  gap: 2rem;
  padding: var(--include-navigation-padding) 2rem;
  .products-section {
    width: 100%;
  }
  @media screen and (min-width: 1000px) {
    flex-direction: row;
    .products-section {
      width: 30%;
      height: 15rem;
      overflow-y: auto;
    }
  }
}
