.btn {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  opacity: 40%;
  padding: 1rem 0.5rem;
  background: none;
  cursor: pointer;
}

.big {
  padding: 2rem;
  @media screen and (max-width: 600px) {
    padding: 1.5rem 1rem;
  }
}
