.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20rem;
  border-radius: 20px;
  background-color: var(--white);
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .total {
      background-color: var(--shop-white);
      border-radius: 10px;
      padding: 0.2rem 1rem;
    }
  }
  .btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 2.2rem;
    height: 2.2rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    opacity: 50%;
    background-color: var(--white);
    cursor: pointer;
  }
  .btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    margin: 0 0.5rem;
    opacity: 30%;
    cursor: pointer;
  }
  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
  .name {
    font-size: 1.6rem;
  }
  .price {
    font-size: 1.2rem;
    color: var(--shop-background);
  }
}
