.input-field {
  position: relative;
  opacity: 0;
  input {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    font-size: 1rem;
    padding: 0 1rem;
    border: 2px solid var(--text-light);
    background: transparent;
    color: var(--text-light);
    outline: none;

    &:focus {
      border: 2px solid var(--shop-background);
      color: var(--text-main);

      ~ label {
        top: 0;
        left: 10px;
        font-size: 0.9rem;
        padding: 0 2px;
        color: var(--text-main);
        background: var(--shop-white);
      }
    }
  }

  label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--text-light);
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s;
    &.filled {
      top: 0;
      left: 10px;
      font-size: 0.9rem;
      padding: 0 2px;
      color: var(--text-main);
      background: var(--shop-white);
    }
    .required {
      display: none;
      position: absolute;
      top: -0.3rem;
      right: -0.5rem;
      color: var(--shop-background);
    }
    .display {
      display: block;
    }
  }
}

.error {
  text-align: left;
  font-size: 0.9rem;
  margin-top: -2rem;
  margin-bottom: 0.5rem;
  max-width: 15rem;
  max-height: 2.5rem;
  overflow: scroll;
  color: var(--shop-background);
}
