.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
  .content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    @media screen and (min-width: 1000px) {
      width: 60%;
      flex-direction: row;
      align-items: flex-start;
      margin-top: 10%;
    }
  }
  @media screen and (min-width: 1000px) {
    justify-content: center;
  }
}
