.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  width: 100%;
  padding: 0 2rem;
  .content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    @media screen and (min-width: 1000px) {
      width: 60%;
      flex-direction: row;
    }
  }
  @media screen and (min-width: 1000px) {
    justify-content: center;
  }
}
